
.btn{
font-weight: 500;
font-size: 18px;
line-height: 28px;
background-color: var(--primary-500);
color: #fff;
padding: 14px 28px;
display: inline-block;
border-radius: 6px;
border: none;
}

.bcgSecondary {
  background-color: #d5dae1;
}

.colorSecondary {
  color: #333f51;
}

.login {
  color: var(--gray-500);
  background-color: transparent;
  border: none;
  font-weight: 500;
  
}